@model IEnumerable<System.Linq.IGrouping<string, MvcEasyOrderSystem.Models.Meal>>


@foreach (var items in Model)
{

        <hr />
        <div class="categoryName">
            @items.Key.ToString()
        </div>
        <hr />

        foreach (var item in items)
        {
            Html.RenderPartial("_EachMeal", item);
        }


    
   
    
}