        <li class="title">登入相關功能</li>

        <li>
            @Html.ActionLink("註冊", "Register") 
        </li>
        <li>
            @Html.ActionLink("忘記密碼", "ForgotPassword")
        </li>
        <li>
            @Html.ActionLink("或是輸入重設密碼Token", "ResetPassword")
        </li>