@using MvcEasyOrderSystem.ViewModels
@model List<Group<string, int>>


    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(string.Format("{0}({1})",@item.Key.ToString(), @item.Value),
        "ShowByCategory", new {categoryId = item.Id})
        </li>     
    }