@model IEnumerable<System.Linq.IGrouping<string, MvcEasyOrderSystem.Models.Meal>>


@foreach (var items in Model)
{

    <h4 class="itemCategory">
        @items.Key.ToString()
    </h4>

    <ul class="itemList clear">
        @foreach (var item in items)
        {
            Html.RenderPartial("_EachMeal", item);
        }

    </ul>
    
   
    
}